extends ./layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block content
   div(class="py-5 ")
        h1(class="text-center text-4xl font-extrabold") Ubicación en el Mapa

        div(class="flex flex-col md:flex-row items-center py-10 gap-4")
            h2(class="text-sw uppercase text-gray-800 font-bold") Filtrar Propiedades

        div(id="map-start" class="h-[600px] mt-5")

        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10") Casas en venta

            // pre= JSON.stringify(propertys, undefined, 2)


        section(class="py-5")
            h2(class="text-center text-4xl font-extrabold pt-10") Departamentos en venta

            // pre= JSON.stringify(houses, undefined, 2)

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mapStart.js")